.haveTransition {
    transition: 100ms;
    transition-property: left, top, width, height;
}

.closeButton:hover {
    background-color: crimson;
}

.shrinkAndExpandButton:hover {
    background-color: hsla(0, 0%, 80%, .1);
}

.minimizeButton:hover {
    background-color: hsla(0, 0%, 80%, .1);
}

.minimizeWindow {
    animation-name: minimizeWindowAnimation;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes minimizeWindowAnimation {
    from {
        opacity: 0.75;
    }
    to {
        top: 95vh;
        left: calc(4.5vh * var(--pinned-position));
        width: 4.5vh;
        min-width: 4.5vh;
        height: 4.5vh;
        opacity: 0;
    }
}