body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.nohighlight:hover {
    cursor: default;
}

@font-face {
    font-family: SegoeUILight;
    src: local("Segoe UI Light"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUISemilight;
    src: local("Segoe UI Semilight"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src: local("Segoe UI"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUIBold;
    src: local("Segoe UI Bold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUISemibold;
    src: local("Segoe UI Semibold"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"), url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

.startenterclass {
    animation-name: startMouseEnterAnimation;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

@keyframes startMouseEnterAnimation {
    from {
        background-image: url('./vector_graphics/icons8-windows-10-start.svg');
        background-color: transparent;
    }
    to {
        background-image: url('./vector_graphics/icons8-windows-10-start-active.svg');
        background-color: hsla(0, 0%, 80%, .2);
    }
}

.startleaveclass {
    animation-name: startMouseLeaveAnimation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes startMouseLeaveAnimation {
    from {
        background-image: url('./vector_graphics/icons8-windows-10-start-active.svg');
        background-color: hsla(0, 0%, 80%, .2);
    }
    to {
        background-image: url('./vector_graphics/icons8-windows-10-start.svg');
        background-color: transparent;
    }
}

.taskiconenterclass {
    animation-name: taskIconMouseEnterAnimation;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

@keyframes taskIconMouseEnterAnimation {
    from {
        background-color: transparent;
    }
    to {
        background-color: hsla(0, 0%, 80%, .2);
    }
}

.taskiconleaveclass {
    animation-name: taskIconMouseLeaveAnimation;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

@keyframes taskIconMouseLeaveAnimation {
    from {
        background-color: hsla(0, 0%, 80%, 0.2);
    }
    to {
        background-color: transparent;
    }
}

.closeiconenterclass {
    animation-name: closeIconEnterAnimation;
    animation-duration: 50ms;
    animation-fill-mode: forwards;
}

@keyframes closeIconEnterAnimation {
    from {
        background-color: transparent;
    }
    to {
        background-color: crimson;
    }
}

.closeiconleaveclass {
    animation-name: closeIconLeaveAnimation;
    animation-duration: 50ms;
    animation-fill-mode: forwards;
}

@keyframes closeIconLeaveAnimation {
    from {
        background-color: crimson;
    }
    to {
        background-color: transparent;
    }
}